##############################
# Byte-compiled Python files #
##############################

**/__pycache__/

############################
# Local testing files etc. #
############################

test/*
