##############################
# Byte-compiled Python files #
##############################

**/__pycache__/
*.py[cod]
*$py.class

############################
# Distribution & packaging #
############################

build/
*.egg-info/

##########
# PyTest #
##########

.pytest_cache/

########
# IDEs #
########

.idea/
.vscode/
.venv/

###########################
# Temporary/testing files #
###########################

tmp*.py
tmp*.png
tmp*.txt
